<a href="https://colab.research.google.com/github/vmatthews3/DataScience/blob/main/Day2_MoreAboutPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions, loops, and more
### Writing a Python program. First things to know:
A program is a list of instructions. The instructions read line by line and executed. 
Indentation matters: instructions that are have to be indented 
We have differet "types" of instructions: arithmetic operations, assignations, input/output, loops, functions and many more. 
If you have any question, ask Google!

In [ ]:
# this is an example of a Python program. It finds all the prime numbers in the input range. 

# Take input from the user and assign the value to variables
lower = int(input("Enter lower range: "))
upper = int(input("Enter upper range: "))

# a for loop
for num in range(lower, upper + 1):
    
    # a conditional expression, checks if the number num is greater than 1
    if num > 1:
    
        # an initial assumption: it is prime
        prime = True

        # another for loop
        for i in range(2, num):
            
            # another conditional to check if it has divisors
            if (num % i) == 0:
                prime = False

                # a break
                break

        # another confitiona, to print the result if it is prime
        if prime:
            print(num)

### Functions
A function is a block of code which only runs when it is called. You can pass data, known as parameters, into a function. A function can return data as a result. To define a new function, use `def`.

In [ ]:
# this function is equivalent to f(z) = z^3
def cube (z):
    return z*z*z
    
# this function is equivalent to f(z) = 1/z
def inverse (z):
    return 1./z
    
# this function is equivalent to f(z) = z^2 + 2*z + 1
def a_polynomial (z):
    return z**2 + 2*z + 1

Once defined, functions can be called any time. To call a function, the input has to be in brackets `()`.

In [ ]:
# assign to a the value of 9
a = 9
#call the functions defined above with a as input
print(cube(a), inverse(a), a_polynomial(a))

729 0.1111111111111111 100

Functions can have more than one argument:

In [ ]:
def average (z,w):
    return (z+w)/2

print(average(10, 50))

30.0

### Loops
#### The 'for' loop
It is possible to repeat the same indented block a certain ammount of times by using the instruction `for`.

In [ ]:
# print all numbers from 0 to 9
# this repeats the instruction "print(i)" 10 times, for values of i from 0 to 9. 
for i in range(10):
       print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# add all numbers from 0 to 9
sum = 0
for i in range(10):
    sum = sum + i
print(sum)

45

In [ ]:
#Here 'a' takes values in the given list
for a in [1, 2, 5, "hi", -1./9, False]:
    print("This is an example")
    print("Now a has the value:", a)

This is an example
Now a has the value: 1
This is an example
Now a has the value: 2
This is an example
Now a has the value: 5
This is an example
Now a has the value: hi
This is an example
Now a has the value: -0.1111111111111111
This is an example
Now a has the value: False

### Conditional statements
The conditional `if/else` checks if the given condition is true or false. If it is true, the indented block below is executed, if it is false, it is skipped.

In [ ]:
# read input 
a = input()

# check if the condition is true, this will be printed
if a == 3:
    print("a is equal to 3")

# if it is false, then this will be printed
else:
    print(a, "is not equal to 3")

In [ ]:
a = 20

# loop through all numbers from 1 to 10, 
for i in range(1,11):

    # check if the remainder of 20 divided by that number is 0
    if a%i == 0:

        # in such case, print the number.
        print(a, "is divisible by", i)

## Homework

In [6]:
#a)
def average (a1):
  sum = 0
  for element in a1:
    sum += element
  return (sum)/len (a1)

In [2]:
#b)
def common(a1, a2):
  for i in a1:
    for j in a2:
      if i == j:
        return True
  return False

In [5]:
#c)
def zerooo(a): 
  for i in range(len(a)):
    if a[i] == 0:
      a[i] = "zerooo"
  return a