<a href="https://colab.research.google.com/github/RodericGuigoCorominas/datascience/blob/main/MLB_rankings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Predicting the MLB world Series
The MLB is currently ongoing. The simplest way to predict a winner in the Fall, could be to check who is on top of the current standings. This, however, wouldn't take into account the strength of each team's schedule. We'll use the methods discussed in class instead. 

For this project, you are given a dataset containing all the games played this season through June. 

What you have to do:

*   Practice manipulating the dataset using Pandas. Check the introductory notebook `intro_to_pandas,ipynb`
*   Create the Massey matrix 
*   Solve the corresponding system to rank the teams using Massey's method 
*   Re-do the steps for the Colley method
*   Discuss any differences in the results, and explain why that happened. 
*   Pick a winner!

In [4]:
import pandas as pd
import numpy as np

url = 'https://raw.githubusercontent.com/RodericGuigoCorominas/datascience/main/datasets/mlb_june_2022.csv'
df = pd.read_csv(url)
df

             home    visitor  score home  score visitor
0            Cubs    Brewers           5              4
1          Royals  Guardians           3              1
2       Cardinals    Pirates           9              0
3       Nationals       Mets           1              5
4          Braves       Reds           3              6
..            ...        ...         ...            ...
732       Rangers       Rays           3              0
733          Cubs    Brewers           8              7
734     Athletics     Astros           1              3
735  Diamondbacks     Braves           8              7
736       Dodgers    Pirates           3              5

[737 rows x 4 columns]

In [6]:
# the code snippet below may be useful
all_teams = np.unique(df[['home','visitor']].to_numpy().flatten())
num_teams = len(all_teams)

print("There are",num_teams,"teams")
print(all_teams)

There are 30 teams
['Angels' 'Astros' 'Athletics' 'Blue Jays' 'Braves' 'Brewers' 'Cardinals'
 'Cubs' 'Diamondbacks' 'Dodgers' 'Giants' 'Guardians' 'Mariners' 'Marlins'
 'Mets' 'Nationals' 'Orioles' 'Padres' 'Phillies' 'Pirates' 'Rangers'
 'Rays' 'Red Sox' 'Reds' 'Rockies' 'Royals' 'Tigers' 'Twins' 'White Sox'
 'Yankees']

In [9]:
# tip: it may be useful to use a dictionary to translate between teams and indices. This way, you can use the name of a team to represent the corresponding row or column
teams_dict = dict(zip(all_teams, range(num_teams)))

# 'Rangers' now corresponds to the index 20
teams_dict['Rangers']

20

In [ ]:
# your code...